.container{
   width: 960px;
   height: 780px;
   margin: auto;
   padding-top: 20px;
    background-image: url(https://www2.d125.org/applied_arts/teched/courses/WEB/portfolios/2014_FallP8/Rami_Portfolio_Period8/unit4_css/project2/cssProject2/grid.png);
}
.longbox{
    
    width: 940px ;
    height: 180px;
}
.box{
    background-color: grey;
    float: left;
    opacity: 0.8;
}
.smallbox{
    margin-bottom: 30px;
    margin-top: 20px;
    height: 220px;
    width: 220px;

}
.ml-10{
    margin-left: 10px;

}
.ml-20{
    margin-left: 20px;
}