@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #ffffff;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.4s;
}
/* Variables end */
html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
}
ul {
  list-style-type: none;
}

/* Navbar styles */
nav h1 {
  color: var(--primary-color);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 5px 10px 6px rgba(0, 0, 0, 0.171);
}
nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  border-bottom: 2px solid var(--secondary-color);
}
nav ul {
  display: flex;
  gap: 2rem;
}
nav ul li {
  font-weight: var(--bold-font);
}
.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 480px) {
  nav {
    padding: 1rem 1rem;
  }
  nav ul li {
    margin: 8px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5%;
    right: 0;
    width: 40%;
    text-align: center;
    background-color: var(--bg-color);
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
  .burger-menu {
    display: block;
  }
  nav ul.show {
    transform: translateX(0);
  }
}

/* About Me */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  max-width: 68rem;
  margin: auto;
}
.hero img {
  height: 38rem;
  width: 38rem;
}
.bio {
  width: 25rem;
  border-radius: 5px;
  box-shadow: 0 2px 15px 2px var(--primary-shadow);
  padding: 1rem;
}
.bio h2 {
  margin-bottom: var(--bottom-margin);
}
.bio p {
  line-height: var(--line-height);
  padding: 0.5rem 0;
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 20rem;
    width: 20rem;
  }
  .hero {
    flex-direction: column;
    gap: 10px;
  }
  .bio {
    width: 20rem;
    padding: 0.5rem;
  }
  .bio p {
    line-height: 1.2rem;
    padding: 0.5rem 0;
  }
}

/* More About */
.more-about h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin);
}
.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}
.more-about p {
  line-height: var(--line-height);
  padding: 0.5rem;
}

/* Skill Section */
.skills {
  max-width: 70rem;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}
.skill-header {
  margin-bottom: 1.5rem;
}
.icon {
  height: 12rem;
  width: 12rem;
  padding: 35px;
  margin: 20px;
  box-shadow: 2px 3px 10px var(--secondary-shadow);
  border-radius: 12px;
  background-color: #fff;
}

/* .icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
} */

/* Project Section */
.projects {
  background-color: var(--bg-color);
  margin-top: 2rem;
  padding: 32px 0;
}
.project-pic {
  width: 65%;
  height: 60%;
}
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}
.project-container {
  text-align: center;
  width: 21.5rem;
  padding: 1rem;
}
.project-container p {
  padding: 0.4rem 0;
  margin-bottom: var(--bottom-margin);
}
.project-card {
  box-shadow: 0px 3px 10px var(--primary-color);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  background-color: var(--bg-color);
}
.project-link {
  border: 2px solid rgb(26, 79, 179);
  border-style: dotted;
  padding: 5px;
  border-radius: 20px;
}

/* Contact Section */
.contact {
  margin-top: 2rem;
}
.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}
.contact-form-container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 3px 10px var(--secondary-shadow);
}
.contact-form-container label {
  line-height: 3rem;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}
.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 16px;
  /* padding: 5px; */
}
.contact-form-container .input-field {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.8rem;
  outline: none;
}
.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}
.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

/* Social Section */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 40%;
}
.socicon {
  height: 3rem;
  width: 3rem;
}

/* Scroll Up */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

/* Footer Section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
.copy span {
  text-transform: capitalize;
  color: #ff7235;
}
