* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("./Tic\ tac\ toe.jpg");
}

.container {
  text-align: left;
}

.header {
  font-family: "Permanent Marker";
  margin: 10px 0px 40px 100px;
  color: rgb(100, 252, 244);
  font-size: 70px;
}

.message {
  font-family: "Permanent Marker";
  color: yellow;
  margin: 5px 150px;
}

.details {
  width: 40%;
  margin: 0 50px;
  text-align: center;
}

label {
  font-weight: bolder;
  font-size: 20px;
  color: rgb(250, 250, 250);
}

input {
  margin: 0 0 10px 5px;
  padding: 4px 10px;
  font-size: 20px;
  border: 2px solid #000;
  outline: none;
}

input:focus {
  border: 2px solid red;
}

button {
  width: 250px;
  border: 2px solid black;
  padding: 10px 5px;
  border-radius: 15px;
  font-size: 20px;
  margin: 20px 0 50px 0;
  background-color: lightgrey;
  cursor: pointer;
  letter-spacing: 2px;
}

button:focus,
button:active,
button:hover {
  background-color: black;
  color: white;
}

.game {
  flex-wrap: wrap;
  background-color: pink;
  height: 300px;
  width: 300px;
  /* text-align: center; */
  margin: 0 150px;
  display: none;
}

.game-slot {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Permanent Marker";
  font-size: 40px;
}
